@use "../../styles/colors";
.ecocopo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 50px;
  text-align: center;

  h1 {
    font-size: 72px;
    color: colors.$mainYellow;
    margin-bottom: 60px;
  }

  p {
    width: 80%;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }

  span {
    font-weight: bold;
    letter-spacing: 1px;
    color: colors.$mainYellow;
  }
}
@media (max-width: 600px) {
  .ecocopo {
    padding: 10px;

    p {
      width: 100%;
    }
  }
}
