@use "../../styles/colors";

.cartazSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h2 {
    color: colors.$mainYellow;
    font-size: 40px;
  }
  h1 {
    font-size: 100px;
    text-transform: uppercase;

    &:nth-child(2) {
      font-size: 60px;
    }
    &:nth-child(4) {
      font-size: 40px;
    }
  }
}
